#login-content
{
    width: 90vw;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#right-part
{
    width: 50%;
    height: 100%;
    background-color: rgb(228, 248, 255);
    float: right;
    position: relative;
}
#right-part .right-part-image
{
    width: 180px;
    position: absolute;
}
#elem5
{
    top: 0;
    left: 0;
}
#elem4
{
    bottom: 0;
    right: 0;
}
#elem3
{
    left: 2%;
    bottom: 2%;
    animation: lavitate 7s infinite;
}
#elem2
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 8s infinite;
}
#elem1
{
    top: 2%;
    right: 2%;
    animation: lavitate 10s infinite;
}
@keyframes lavitate 
{
    0%
    {
        transform: translateY(-10px);
    }   
    50%
    {
        transform: translateY(10px);
    } 
    100%
    {
        transform: translateY(-10px);
    } 
}
@keyframes rotate
{
    0%
    {
        transform: translate(-50%, -50%) rotate(10deg);
    }   
    50%
    {
        transform: translate(-50%, -50%) rotate(-10deg);
    } 
    100%
    {
        transform: translate(-50%, -50%) rotate(10deg);
    } 
}

#left-part
{
    width: 50%;
    height: 100%;
    background-color: white;
    float: left;
    position: relative;
    font-family: sans-serif;
}
#left-part #input-part
{
    width: 55%;
    height: 90%;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#left-part #logo
{
    width: 5em;
}
#left-part #title
{
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 20px;
}
#left-part #title::after
{
    content: "See your growth and get consulting support!";
    display: block;
    margin-top: 5px;
    font-size: small;
    opacity: 0.6;
}
#left-part #google-button
{
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 35px;
    background-color: white;
    border-radius: 35px;
    border: 1px rgb(218, 218, 218) solid;
    line-height: 35px;
}
#left-part #google-button img
{
    height: 15px;
    display: inline-block;
    transform: translateY(2px);
    margin-right: 8px;
}
#left-part #or
{
    font-size: small;
    opacity: 0.5;
    position: relative;
    display: block;
    width: 100%;
    height: 7px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom:1px solid black ;
}
#left-part #or span
{
    background-color: white;
    padding: 0 5px 0 5px;
}
#left-part .input-title
{
    font-size: small;
    font-weight: bold;
}
#left-part .input
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding: 0 5% 0 5%;
    margin: 5px 0 15px 0;
    border: 1px rgb(218, 218, 218) solid;
}
#left-part .input:focus
{
    outline: none;
}
#left-part .title-error
{
    color: red;
}
#left-part .input-error
{
    background-color: rgb(255, 237, 237);
}
#left-part .error-text
{
    font-size: 0.8em;
    color: red;
    position: relative;
    display: block;
    opacity: 0.8;
    margin-bottom: 5px;
    transform: translateY(-5px);
}
#left-part #show-pword
{
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 12px;
    transform: translateY(-43px);
    opacity: 0.3;
}
#left-part #pword-options
{
    width: 100%;
    height: 30px;
}
#left-part #rememberme
{
    position: absolute;
    margin: 0;
    left: 0;
    line-height: 12px;
}
#left-part #rememberme::after
{
    content: "Remember me";
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    width: 200px;
    margin-left: 18px;
}
#left-part #forgot-pword
{
    position: absolute;
    right: 0;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
}
#left-part #login-button
{
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 35px;
    background-color: rgb(30, 79, 205);
    color: white;
    border-radius: 35px;
    border: none;
}
#left-part #not-registered
{
    font-size: small;
    display: block;
    margin-top: 18px;
}
#left-part #not-registered a
{
    text-decoration: none;
    margin-left: 4px;
    font-weight: bold;
}



/*  Mobile CSS  */

@media only screen and (max-width: 815px) 
{
    #right-part
    {
      display: none;
    }

    #left-part
    {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) 
{
    #right-part
    {
      display: none;
    }

    #left-part #pword-options
    {
        margin-bottom: 18px;
    }
    #left-part #rememberme
    {
        display: block;
        position: relative;
    }
    #left-part #forgot-pword
    {
        display: block;
        position: relative;
        margin-top: 8px;
    }
}